<h1>Students</h1>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student|%>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.subject %></td>
      </tr>
    <% end %>
  </tbody>
</table>

